.main-container {
  background-color: darkgrey;
  background-image: url(https://images.pexels.com/photos/378570/pexels-photo-378570.jpeg);
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans';
  color: #FFFCF7;
}
.landing {
  display: flex;
  flex-direction: column;
  width: 100%;
  Height: 100vh;
  align-items: center;
  justify-content: center;
}
.landing .title-block {
  width: 400px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(34, 36, 37, 0.7);
  border-radius: 10px;
}
.landing .title-block h1 {
  width: 300px;
  height: 140px;
  margin-top: 35px;
  padding-left: 12px;
  padding-top: 12px;
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  align-items: center;
  border-top: 2px solid #FFFCF7;
  border-bottom: 2px solid #FFFCF7;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.landing .title-block p {
  width: 280px;
  margin: 0 auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-align: center;
}
.landing button {
  width: 400px;
  height: 70px;
  color: #FFFCF7;
  background-color: #CFBC78;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  margin-top: 50px;
  border-radius: 10px;
  border-image: none;
  border-width: 0px;
  cursor: pointer;
}
header .feature-header {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CFBC78;
  font-family: 'Open Sans';
}
header .feature-header h2 {
  width: 500px;
  font-size: 24px;
  border-bottom: 1px solid #ac9d64;
  padding-bottom: 30px;
  text-align: center;
}
header .feature-header p {
  width: 600px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
header .feature-header .icons {
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
}
header .feature-header .icons img {
  width: 40px;
  height: 40px;
  background-color: grey;
}
#features {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#features .feature-container {
  width: 100%;
  height: 217px;
  display: flex;
  flex-direction: row;
}
#features .feature-container img {
  width: 500px;
  height: 217px;
}
#features .feature-container .inner-feature-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(34, 36, 37, 0.85);
  flex-grow: 2;
  padding: 50px 50px 100px;
}
#features .feature-container .inner-feature-container p {
  padding-right: 20%;
}
#features #even {
  flex-direction: row-reverse;
}
#features #even h3,
#features #even p {
  padding-left: 20%;
  padding-right: 50px;
}
#menu-bar {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: rgba(34, 36, 37, 0.85);
  color: #FFFCF7;
}
#menu-bar h2 {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 499px) {
  #menu-bar h2 {
    margin-right: 0px;
  }
}
#menu-bar div {
  display: inline-block;
  margin-right: 40px;
}
.menu-button {
  cursor: pointer;
}
.menu-button:hover {
  color: #CFBC78;
}
.menu {
  display: none;
  position: fixed;
  top: 66px;
  right: 0;
  width: 350px;
  height: 100vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: #738290;
  border: 1px solid rgba(34, 36, 37, 0.85);
  border-left: none;
  border-bottom: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
@media (max-width: 499px) {
  .menu {
    width: 100%;
  }
}
.menu ul {
  padding-right: 40px;
}
.menu ul li {
  list-style-type: none;
  font-size: 32px;
  padding: 30px 0;
  text-align: left;
  border-bottom: 1px solid #454f58;
}
.menu ul li a {
  color: #FFFCF7;
  text-decoration: none;
}
.menu ul li a:hover {
  color: #CFBC78;
}
.menu ul li:last-of-type {
  border: none;
}
.menu--open {
  display: block;
}
.selling-points {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8CA2B0;
}
.selling-points .sell-header {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.selling-points .sell-header h2 {
  text-align: center;
  border-bottom: 1px solid #647783;
  padding-bottom: 40px;
  margin: 0 auto;
}
.selling-points .sell-header p {
  text-align: center;
  margin: 10px 0 60px 0;
}
.selling-points .cellgroup-container {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.selling-points .cell {
  width: 400px;
  height: 200px;
  display: flex;
  background-color: #869dac;
}
.selling-points .cell .icon-cell {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.selling-points .cell .icon-cell img {
  width: 24px;
  height: 24px;
  background-color: grey;
  margin-top: 42px;
}
.selling-points .cell h3 {
  margin: 40px 20px 20px 0;
}
.final-cta {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 0 40px 0;
}
.final-cta .fcta-inner-container {
  width: 800px;
  display: flex;
}
.final-cta .fcta-inner-container .fcta-text-container {
  padding-right: 20px;
}
.final-cta .fcta-inner-container .fcta-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 20px;
}
.final-cta .fcta-inner-container .fcta-button-container #fcta-sign-up {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #CFBC78;
  color: #FFFCF7;
  cursor: pointer;
  margin: 1em 0;
}
.final-cta .fcta-inner-container .fcta-button-container #fcta-learn-more {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #FFFCF7;
  background-color: rgba(0, 0, 0, 0);
  color: #FFFCF7;
  cursor: pointer;
  margin: 1em 0;
}
#sign-up-page {
  background-image: url(https://images.pexels.com/photos/48195/document-agreement-documents-sign-48195.jpeg);
  width: 100%;
  height: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans';
}
.form-container {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.form-container .form-div {
  border: 3px solid black;
  border-radius: 10px;
  width: 400px;
  padding: 30px;
  background-color: white;
  margin: 40px 20px;
}
@media (max-width: 899px) {
  .form-container .form-div {
    width: 400px;
    margin: 66px auto 10px auto;
  }
  .form-container .form-div:last-of-type {
    margin: 0px auto 10px auto;
  }
}
@media (max-width: 499px) {
  .form-container .form-div {
    width: 95%;
  }
  .form-container .form-div:last-of-type {
    margin: 0 auto 10px auto;
  }
}
@media (max-width: 899px) {
  .form-container {
    padding: 0;
  }
}
.register-container h1,
.login-container h1 {
  margin-top: 0;
}
.register-container input,
.login-container input {
  margin-bottom: 10px;
}
.register-container input:last-of-type,
.login-container input:last-of-type {
  margin-bottom: 0;
}
.register-container p,
.login-container p {
  margin-bottom: 0;
}
.loginbtn,
.registerbtn {
  margin-top: 20px;
  width: 173px;
  padding: 20px 0;
  border-radius: 10px;
  border: none;
  background-color: #CFBC78;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
form div p {
  margin-bottom: 0;
}
#home-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
}
#home-footer .footer-icons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
#home-footer .footer-icons img {
  width: 40px;
  height: 40px;
  background-color: grey;
}
#home-footer p {
  margin: 0 0 50px 0;
  color: #FFFCF7;
}
.team-container {
  background-image: url(https://images.pexels.com/photos/1451447/pexels-photo-1451447.jpeg);
  width: 100%;
  background-color: darkgrey;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans';
  color: #FFFCF7;
}
.team-container .billboard-container {
  width: 100%;
  height: 40vh;
}
.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8CA2B0;
}
.content-container .team-header {
  width: 60%;
  text-align: center;
  margin: 80px 0;
}
@media (max-width: 499px) {
  .content-container .team-header {
    width: 90%;
  }
}
.team-member {
  width: 80%;
  max-width: 1000px;
  display: flex;
}
.team-member .pic-container img {
  width: 270px;
  height: 360px;
  border-radius: 10px;
}
.team-member .pic-container h3 {
  margin-bottom: 60px;
}
@media (max-width: 899px) {
  .team-member .pic-container {
    display: none;
  }
}
.team-member .about-me {
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  align-content: space-between;
}
.team-member .about-me .text-container h3 {
  margin-top: 0;
}
@media (max-width: 499px) {
  .team-member .about-me {
    padding: 0;
  }
}
.padding-bottom {
  padding-bottom: 80px;
}
.features-container {
  background-image: url(https://images.pexels.com/photos/2096700/pexels-photo-2096700.jpeg);
  width: 100%;
  background-color: darkgrey;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans';
  color: #FFFCF7;
}
.features-container .billboard-container {
  width: 100%;
  height: 40vh;
}
.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8CA2B0;
  padding-bottom: 80px;
}
.content-container .features-header {
  width: 60%;
  text-align: center;
  margin: 80px 0;
}
@media (max-width: 899px) {
  .content-container .features-header {
    width: 80%;
  }
}
.content-container img {
  height: 180px;
  width: 50%;
  object-fit: cover;
}
.content-container .features-outer {
  width: 80%;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 20px;
}
@media (max-width: 899px) {
  .content-container .features-outer {
    width: 80%;
    flex-wrap: wrap;
  }
  .content-container .features-outer img {
    display: block;
    width: 60%;
  }
  .content-container .features-outer .features-content {
    width: 60%;
  }
}
@media (max-width: 899px) {
  .content-container .features-outer img {
    width: 100%;
  }
  .content-container .features-outer .features-content {
    width: 100%;
  }
}
.content-container .features-content {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.content-container .features-content .features-title {
  display: flex;
}
.content-container .features-content .features-title img {
  width: 40px;
  height: 40px;
  background-color: grey;
  margin: 15px 20px 0 0;
}
.content-container .even {
  flex-direction: row-reverse;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Yellowtail Regular'), local('Yellowtail-Regular'), url(https://fonts.gstatic.com/s/yellowtail/v9/OZpGg_pnoDtINPfRIlLohlvHxA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
