@import './variables.less';
@import './mixins.less';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yellowtail&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  width  : 100%;
  height : 100%;
  margin : 0;
  padding: 0;
}

@import '../components/menu/menu';
@import '../components/footer/footer.less';
@import '../components/main-container/main-container.less';
@import '../components/selling-points/selling-points';
@import '../components/landing/landing.less';
@import '../components/landing/landing-feature.less';
@import '../components/features/feature-page.less';
@import '../components/final-cta/final-cta.less';
@import '../components/sign-up/sign-up.less';
@import '../components/team/team.less';

