.landing {
    display: flex;
    width: 100%;
    Height: 900px;
    align-items: center;
    justify-content: center;

    .title-block {
        display: flex;
        flex-direction: column;
        background-color: fade(@fadedBlack, 70%);
    }
}