.selling-points {
    width           : 100%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background-color: @sellPoint;

    .sell-header {
        width         : 95%;
        max-width     : 800px;
        display       : flex;
        flex-direction: column;
        margin-top    : 90px;

        h2 {
            text-align    : center;
            border-bottom : 1px solid #647783;
            padding-bottom: 40px;
            margin        : 0 auto;
        }

        p {
            text-align: center;
            margin    : 10px 0 60px 0;

            @media @tablet {
                width: 90%;
            }
        }
    }

    .cellgroup-container {
        width          : 90%;
        max-width      : 750px;
        display        : flex;
        flex-wrap      : wrap;
        margin-bottom  : 120px;
        align-items    : center;
        justify-content: center;
        border-radius  : 10px;
        overflow       : hidden;
    }

    .cell {
        width           : 325px;
        height          : 200px;
        display         : flex;
        align-items     : center;
        background-color: darken(@sellPoint, 2%);



        .icon-cell {
            width          : 40%;
            display        : flex;
            justify-content: center;
            flex-grow      : 2;
            padding-bottom : 25%;

            .fas {
                width: 2em;
            }

        }

        .text-cell {
            display: flex;
            padding-right: 20px;
            flex-grow    : 1;
            
        }

        h3 {
            margin: 40px 20px 20px 0;

            @media @mobile {
                text-align: center;
            }
        }
    }
}